<!--
|========================
|      Features Section
|========================
-->
<section class="uv-subpage-heading image-bg" style="background-image: url('assets/header-bg-1.jpg');">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="uv-subhead-content col-xs-12">
          <h2>Blog & News </h2>
          <span><%= Time.now %></span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="uv-pagination">
  <div class="container">
    <ul>
      <li class="active"><a href="">Home</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </div>
</div>

<section class="uv-single-blog">
  <div class="container">
    <div class="row section-separator">
      <div class="col-sm-8">
        <div class="blog-wrapper shadow-border single-blog-wrapper">
          <% @blogs.each do |blog| %>
            <tr>
              <div class="blog-title">
                <td><h2><%= blog.title %></h2></td>
                <div class="post-meta">
                  <span class="day">Created At: <%= blog.created_at %></span>
                  <span class="month">Updated At: <%= blog.updated_at %></span>
                </div>
              </div>

              <div class="blog-image">
                <%= link_to blog.image.url do %>
                  <%= image_tag blog.image.url, class: "img-responsive" %>
                <% end %>
              </div>
              <div class="blog-desc">
                <td><p><%= blog.body %></p></td>
                <a href="#" class="readmore">Read More</a>
              </div>
            </tr>
          <% end %>
        </div>

        <div class="uv_pagination_outer_wrap">
          <ul>
            <i><%= pagy_bootstrap_nav(@pagy).html_safe %></i>
          </ul>
        </div>

      </div>

      <aside class="uv-sidebar col-md-3 col-sm-12">
        <div class="uv_aside_hdg default_width mb30">
          <%= simple_form_for :search, url: blogs_path, method: "GET", html: { class: 'form-inline' } do |f| %>
            <h6>Find Blogs</h6>
            <i class="fa fa-minus"></i>
            <form lpformnum="1">
              <div class="uv_aside_field">
                <%= f.input :title, placeholder: "Search by key word here...", input_html: {value: ""} %>
              </div>
              <div class="uv_aside_field">
                <%= f.submit "Search", class: "btn btn-fill btn-block" %>
              </div>
            </form>
          <% end %>
        </div>
       
        <div class="clearfix"></div>
          <div class="uv-widget">
            <div class="widget-title">
              <h4>Subscribe Us</h4>
              <hr>
            </div>
            <div class="uv-newsletter">
              <p>Subscribe to our weekly Newsletter and stay up to date.</p>
              <form lpformnum="3" _lpchecked="1">
                <a href="subscriptions"><i class="btn btn-fill btn-block">Subscribe Now!</i></a>
              </form>
            </div>
          </div>
        </div>

      </aside>

    </div>
  </div>
</section>