	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/09/2017 06:44
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon-.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-diploma-paper-roll:before { content: "\f100"; }
.flaticon-mortarboard-1:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-play-button-1:before { content: "\f103"; }
.flaticon-presentation:before { content: "\f104"; }
.flaticon-monitor:before { content: "\f105"; }
.flaticon-photo-camera:before { content: "\f106"; }
.flaticon-play-button:before { content: "\f107"; }
.flaticon-telescope:before { content: "\f108"; }
.flaticon-open-book:before { content: "\f109"; }
.flaticon-light-bulb:before { content: "\f10a"; }
.flaticon-mortarboard:before { content: "\f10b"; }