<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @organisation.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @organisation.body %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
