<!--
|========================
|      Script
|========================
-->
<!-- jquery -->
<script src="assets/plugins/js/jquery-1.11.3.min.js"></script>
<!-- Bootstrap -->
<script src="assets/plugins/js/bootstrap.min.js"></script>
<!-- mean menu nav-->
<script src="assets/plugins/js/meanmenu.js"></script>
<!-- ajaxchimp -->
<script src="assets/plugins/js/jquery.ajaxchimp.min.js"></script>
<!-- wow -->
<script src="assets/plugins/js/wow.min.js"></script>
<!-- Owl carousel-->
<script src="assets/plugins/js/owl.carousel.js"></script>
<!--dropdownhover-->
<script src="assets/plugins/js/bootstrap-dropdownhover.min.js"></script>
<!--jquery-ui.min-->
<script src="assets/plugins/js/bars.js"></script>
<!--validator -->
<script src="assets/plugins/js/validator.min.js"></script>
<!--smooth scroll-->
<script src="assets/plugins/js/smooth-scroll.js"></script>
<!-- Fancybox js-->
<script src="assets/plugins/js/jquery.fancybox.min.js"></script>
<!-- fitvids -->
<script src="assets/plugins/js/jquery.fitvids.js"></script>
<!-- SELECTIZE-->
<script src="assets/plugins/js/standalone/selectize.js"></script>
<!-- isotope js-->
<script src="assets/plugins/js/isotope.pkgd.js"></script>
<script src="assets/plugins/js/packery-mode.pkgd.js"></script>
<!-- progressbar-->
<script src="assets/plugins/js/progressbar.min.js"></script>
<!-- inview -->
<script src="assets/plugins/js/jquery.inview.min.js"></script>
<!---->

<!-- init -->
<script src="assets/js/init.js"></script>


<!--
        |========================
        |  footer
        |========================
        -->
      <footer class="uv-footer footer-bg section-separator">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="footer-item">
                    <h6>Contact EliteSketch</h6>
                    <address>Nairobi, Kenya</address>
                    <ul>
                        <li><a href=""><i class="fa fa-phone"></i>+254 703 103579</a></li>
                     
                        <li><a href=""><i class="fa fa-envelope-o"></i>e37@elitesketch.com</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
              <div class="footer-item uv-program">
                <h6>Our Internships</h6>
                <ul>
                  <li><a href="">Careers</a></li>
                  <li><a href="">Medicine</a></li>
                  <li><a href="">Real Estate</a></li>
                  <li><a href="">Sales & Marketing</a></li>
                  <li><a href="">Creative Arts & Design</a></li>
                  <li><a href="">Information Technology</a></li>
                  <li><a href="">Business & Administrative Studies</a></li>
                  <li><a href="">Law, Economics and Social Sciences</a></li>
                  <li><a href="">Engineering, Architecture, Surveying, Building & Planning</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
              <div class="footer-item">
                  <h6>Our Resources</h6>
                  <ul>
                    <li><a href="">Student Resources</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="footer-item">
                    <h6>Newsletter</h6>
                    <p>Subscribe to our weekly Newsletter and stay tuned and up to date on the latest internships.</p>
                    <form class="uv-form footer-form">
                      <div class="footer-subs-btn">
                        <a href="subscriptions"><i class="btn btn-base">Subscribe</i></a>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="f-hr">
        <div class="row">
            <div class="uv-copyright center wow fadeInUp" data-wow-delay="0.5s">
                <p> © Copyright EliteSketch 2019. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>