<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="xt-header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 uv-header-contact">
            <a href=""> <i class="fa fa-phone"></i>+254 703 103579</a>
            <a href=""> <i class="fa fa-envelope-o"></i>e37@elitesketch.com</a>
        </div>
        <div class="col-sm-6 uv-header-user">
          <a href="admin"><i class="fa fa-lock"></i>Login</a> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="xt-main-nav">
    <nav class="navbar nav-scroll home-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="uv-logo">
                <img src="assets/logo.png" alt="" class="img-responsive">
              </div>
          </div>
          <div class="col-sm-8 pull-right">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-action="#js-navbar-menu" aria-expanded="false">
                    <span aria-hidden="true" class="icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-menu">
                <ul class="nav navbar-nav ep-mobile-menu" id="navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="internships">Internships</a></li>
                  <li><a href="organisations">Organisations</a></li>
                  <li><a href="abouts">About Us</a></li>
                  <li><a href="blogs">Blogs</a></li>
                  <li><a href="contacts">Contact</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </nav><!-- /.navbar -->
  </div>

  <!-- Mobile Menu-->
  <div class="menu-spacing visible-xs nav-scroll">
    <div class="mobile-menu-area visible-xs visible-sm">
      <div class="mobile-menu">
        <nav id="mobile-menu-active">
          <ul class="main">
            <li><a class="main-a" href="#">Home</a></li>
            <li><a class="main-a" href="#">Internships</a></li>
            <li><a class="main-a" href="#">Organisations</a></li>
            <li><a class="main-a" href="#">About Us</a></li>
            <li><a class="main-a" href="#">Blog Posts</a></li>
            <li><a class="main-a" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>  
    </div>
  </div>
</nav>




