<!--
|========================
|   SLIDER CONTENT
|========================
-->
<header class="xt-header">
  <section class="header-slider header-slider-preloader" id="header-slider">
    <!--Slide 1-->
    <div style="background-image:url('assets/course-bg.jpg')" class="item">
      <div class="slide-table">
        <div class="slide-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-xs-12">
                <div class="slide-text">
                  <% @homes.each do |home| %>
                    <span><%= home.title %></span>
                    <h1><%= home.body %></h1>
                  <% end %>
                  <div class="slide-buttons">
                    <a href="internships" class="slide-btn btn btn-base">Apply For Internships Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    <!-- Preloader -->
    <div class="slider_preloader">
    <div class="slider_preloader_status">&nbsp;</div>
    </div>
  </section>
</header>

<!--
|========================
|      Information.
|========================
-->
<section class="uv-feature bg-2">
  <div class="container">
      <div class="row section-separator">
          <div class="col-sm-4">
              <div class="uv-join-tagline wow fadeInRight" data-wow-delay="0.2s">
                  <h2><b>Interested</b> in Internships Nortifications?</h2>
                  <a href="subscriptions" class="btn btn-base"> Subscribe! <i class="fa fa-long-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-sm-8">
              <div class="uv-featured-icon wow fadeIn" data-wow-delay="0.2s">
                  <div class="row">
                      <ul>
                          <li class="col-sm-3 col-xs-6"><i class="fa fa-refresh"></i><span>Latest Internships</span></li>
                          <li class="col-sm-3 col-xs-6"><i class="fa fa-unlock"></i><span>Open Positions</span></li>
                          <li class="col-sm-3 col-xs-6"><i class="fa fa-group "></i><span>Meetups</span></li>
                          <li class="col-sm-3 col-xs-6"><i class="fa fa-laptop"></i><span>Online Help</span></li>
                      </ul>
                  </div>
                  <% @homes.each do |home| %>
                    <h5><%= home.advert %></h5>
                  <% end %>
              </div>
          </div>
      </div>
  </div>
</section>
       
<!--
|========================
|  See Latest News
|========================
-->
<section class="uv-join bg-2">
    <div class="container">
        <div class="section-separator">
            <div class="uv-join-inner image-bg" style="background-image: url('assets/join-bg.jpg');">
                <div class="join-content wow fadeIn" data-wow-delay="0.2s">
                    <span>Click to See The Latest News</span>
                    <h3>Latest Trending News & Topics</h3>
                    <div class="join-btn">
                        <a href="" class="btn btn-base">Click!</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<!--
|========================
|  testimonial
|========================
-->
<section class="section uv-testimonial image-bg" id="uv-testimonial" style="background-image: url('assets/ts-bg.jpg');">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 client-quates">
          <div class="uv-client-testimonial">
            <div class="slider-content wow">
              <div class="carousel uv-carousel-fade slide" data-ride="carousel" id="quote-carousel">
                <div class="carousel-inner text-center">
                  <!-- Quote 1 -->
                  <div class="item active">
                    <blockquote>
                      <div class="row">
                        <div class="uv-client-quates">
                          <% @homes.each do |home| %>
                            <p><%= home.testimonial %></p>
                          <% end %>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
