<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @home.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @home.body %>
</p>

<p>
  <strong>Advert:</strong>
  <%= @home.advert %>
</p>

<p>
  <strong>Testimonial:</strong>
  <%= @home.testimonial %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
