<section class="uv-contact">
    <div class="container">
        <div class="row section-separator">
            <div class="col-md-9 col-sm-12 col-xs-12 content-widget">
                <div class="col-xs-12 widget-title">
                    <h4>Subscribe To Us Now!</h4>
                    <hr class="uv-hr">
                </div>

                <%= form_for Subscription.new, url: {action: "create"}, html: {class: "single-form quate-form"} do |f| %>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="col-md-4">
                    <p>Subscribe to our weekly Newsletter and stay tuned and stay up to date!</p>
                  </div>
                  <div class="col-sm-12 col-md-8">
                    <%= f.text_field :email, placeholder: 'Enter your email here...', class: 'contact-subject form-control' %>
                    <button type="submit" class="btn btn-fill">Subscribe Now!<i class="icon icons8-advance" id="form-submit"></i></button>
                  </div>
                <% end %>

                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 content-widget uv-contact-details-1">
                <div class="widget-title">
                    <h4>Contact Details</h4>
                    <hr class="uv-hr">
                </div>
                <div class="contact-list">
                    <ul class="contact-details">
                      <li><i class="fa fa-link"></i> <a href="elitesketch.com">elitesketch.com</a></li>
                      <li><i class="fa fa-envelope"></i> <a href="mailto:info@yoursite.com">e37@elitesketch.com</a></li>
                      <li><i class="fa fa-phone"></i>+254 703 103579</li>
                      <li><i class="fa fa-home"></i>EliteSketch P.O.Box 1231 - 00232</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>