<!--
|========================
|      Features Section
|========================
-->
<section class="uv-subpage-heading image-bg" style="background-image: url('assets/header-bg-1.jpg');">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="uv-subhead-content col-xs-12">
          <h2>About Us</h2>
          <span><%= Time.now %></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="uv-pagination">
  <div class="container">
    <ul>
      <li class="active"><a href="">Home</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
</div>

<section class="uv-about-inner">
  <div class="container">
    <div class="row ">
      <div class="uv-about-content overflow">
        <div class="bg-3 overflow">
          <% @abouts.each do |about| %>
            <div class="col-sm-6 padding-o">
              <%= link_to about.image.url do %>
                <%= image_tag about.image.url, class: "thumbnail" %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <div class="uv-about-info">
                <tr>
                  <td><h4><%= about.title %></h4></td>
                  <td><p><%= about.body %></p></td>
                </tr>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uv-topics uv-faq bg-2">
  <div class="container">
    <div class="row section-separator">
      <div class="col-xs-12 section-title">
        <h2>FAQ</h2>
      </div>
      <div class="col-xs-12">
        <div id="integration-list-2" class="uv-accordinaton">
          <ul>
            <li>
              <% @abouts.each do |about| %>
              <a class="uv-accordinaton-list">
              <div class="uv-right-arrow">+</div>
                <h2><%= about.faq %></h2> 
              </a>
              <div class="uv-accordition-detail">
                <p><%= about.faq %></p>
              </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="uv_pagination_outer_wrap">
    <ul>
      <i><%= pagy_bootstrap_nav(@pagy).html_safe %></i>
    </ul>
  </div>
</section>

<section class="uv-achivement">
    <div class="container">
        <div class="row section-separator">
            <div class="section-title col-xs-12">
                <h2>Our Achivements</h2>
                <p>EliteSketch has been able to achieve alot interms of providing people around the globe with links to internships.</p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="uv-achivement-circle">
                        <ul>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="65"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-presentation"></i>
                                        <span>Success</span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="100"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-photo-camera"></i>
                                        <span>Authenticity</span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="70"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-diploma-paper-roll"></i>
                                        <span>Careers</span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="65"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-mortarboard"></i>
                                        <span>Certificates</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="uv-blog bg-2">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title col-xs-12">
        <h2>Our Team</h2>
        <span>This amazing team makes it possible here at EliteSketch.</span> 
      </div>
      <div class="each-blogs col-xs-12" id="uv-blog-carousel">
        <div class="item">
          <div class="blog-inner">
            <div class="blog-banner">
              <img src="assets/pp.jpg" alt="" class="img-responsive">
            </div>
            <div class="blog-content">
              <h4>Elly Ambet</h4>
              <div class="blog-schedule">
                <a href=""><h4>Elly Ambet</h4></a>
                <span>Software Developer</span>
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>                        
      </div>
    </div>
  </div>
</section>
