<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @about.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @about.body %>
</p>

<p>
  <strong>Faq:</strong>
  <%= @about.faq %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
