<!--
|========================
|      Features Section
|========================
-->
<section class="uv-subpage-heading image-bg" style="background-image: url('assets/header-bg-1.jpg');">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="uv-subhead-content center">
                  <h2>Internships</h2>
                  <span><%= Time.now %></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="uv-pagination">
  <div class="container">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Internships</a></li>
    </ul>
  </div>
</div>


<div class="uv-single-contest uv-course-details">
    <div class="container">
        <div class="educationpress-main-content-inner row">
            <aside class="uv-sidebar col-md-3 col-sm-12">
              <div class="uv_aside_hdg default_width mb30">
                <%= simple_form_for :search, url: internships_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                  <h6>Find Internships</h6>
                  <i class="fa fa-minus"></i>
                  <form lpformnum="1">
                    <div class="uv_aside_field">
                      <%= f.input :category, placeholder: "Search by key word here...", input_html: {value: ""} %>
                    </div>
                    <div class="uv_aside_field">
                      <%= f.submit "Search", class: "btn btn-fill btn-block" %>
                    </div>
                  </form>
                <% end %>
              </div>

                <div class="uv-widget">
                  <div class="widget-title">
                    <h4>Subscribe Us</h4>
                    <hr>
                  </div>
                  <div class="uv-newsletter">
                    <p>Subscribe to our weekly Newsletter and stay up to date.</p>
                    <form lpformnum="3" _lpchecked="1">
                      <a href="subscriptions"><i class="btn btn-fill btn-block">Subscribe Now!</i></a>
                    </form>
                  </div>
                </div>

            </aside>
            
            <div id="primary" class="content-area uv-course-listing-inner col-md-9 col-sm-12">
                <div class="uv-sudent-profile-info padding-top-o">
                  <div class="uv-student-courses-overview">
                    <ul>
                      <li>
                        <% @internships.each do |internship| %>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="course-feature-img">
                                  <%= link_to internship.image.url do %>
                                    <%= image_tag internship.image.url, class: "img-responsive" %>
                                  <% end %>
                                  <span>Available</span>
                              </div>
                            </div>
                            <div class="col-sm-8">
                              <div id="integration-list-2" class="uv-accordinaton">
                                <a class="uv-accordinaton-list">
                                <div class="uv-right-arrow">+</div>
                                  <h6><u><%= internship.category %></u></h6>
                                  <h5><%= internship.title %></h5>
                                  <div class="uv-std-course-info">
                                    <span><b>Posted On:<%= internship.created_at %></b></span>
                                  </div>
                                  <i><b>(Show More/Less)</b></i>
                                </a>
                                <div class="uv-accordition-detail">
                                  <p><%= internship.body %></p>
                                  <a href="<%= internship.url %>" class="btn btn-fill">Apply!</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </li>                                                          
                    </ul>
                  </div>
                </div>
                
              <div class="uv_pagination_outer_wrap">
                <ul>
                  <i><%= pagy_bootstrap_nav(@pagy).html_safe %></i>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>

<section class="uv-our-clients">
  <div class="container">
    <div class="row section-separator">
      <div class="col-xs-12 center section-title">
        <h2>Our Clients</h2>
      </div>
      <div class="clients-logos">
        <div class="col-md-2 col-sm-4">
          <i class='fas fa-laptop' style='font-size:80px;color:darkblue'><h5>Software Companies</h5></i>
        </div>
        <div class="col-md-2 col-sm-4">
          <i class='fas fa-hotel' style='font-size:80px;color:darkgreen'><h5>Hotels & Restaurant</h5></i>
        </div>
        <div class="col-md-2 col-sm-4">
          <i class='fas fa-school' style='font-size:80px;color:grey'><h5>Schools</h5></i>
        </div>
        <div class="col-md-2 col-sm-4">
          <i class='fas fa-hospital' style='font-size:80px;color:purple'><h5>Hospitals</h5></i>
        </div>
        <div class="col-md-2 col-sm-4">
          <i class='fas fa-satellite-dish' style='font-size:80px;color:maroon'><h5>Media Stations</h5></i>
        </div>
        <div class="col-md-2 col-sm-4">
          <i class='fas fa-sim-card' style='font-size:80px;color:indigo'><h5>Telecommunication Companies</h5></i>
        </div>
      </div>
    </div>
  </div>
</section>


