<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @internship.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @internship.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @internship.body %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @internship.organisation %>
</p>

<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
