/*------------ mean menu css ---------------------- */
/* hide the link until viewport size is reached */
a.meanmenu-reveal {
  display: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #0c1923;
  padding: 4px 0;
  min-height: 62px;
  z-index: 999999;
}
.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 30px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #000;
  height: 3px;
  margin-top: 3px;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: transparent;
  margin-top: 55px;
  padding-top: 20px;
}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
  border-top: 1px solid #383838;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 13px 5%;
  margin: 0;
  font-weight: 600;
  text-align: left;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10%;
  border-top: 1px solid #f1f1f1;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 0.75;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: rgba(255, 255, 255, 0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 1px;
  width: 26px;
  height: 32px;
  padding: 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  border: none !important;
  border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #1dd6c5;
}
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}
.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mean-remove {
  display: none !important;
}
/* */
.ind-style:hover .owl-prev,
.ind-style:hover .owl-next,
.single-product-list:hover .primary-2,
.commodo-area:hover .commodo-img .comm-primary-2,
.single-product:hover .primary-2,
.single-product:hover .color,
.slider-area:hover .nivo-controlNav,
.header-userinfo:hover ul,
.header-language:hover ul,
.header-cart:hover ul,
.main-menu ul.main li:hover .mega-menu,
.main-menu ul.main li:hover ul,
.main-menu ul.main li ul li:hover a:before {
  opacity: 1;
  visibility: visible;
  text-decoration: none;
}
.ind-style .owl-prev,
.ind-style .owl-next,
.color,
.main-menu ul.main li ul li a:before,
.product-image a img.primary-2,
.commodo-img .comm-primary-2,
.header-userinfo ul,
.header-language ul,
.header-cart ul,
.main-menu ul.main li ul,
.mega-menu,
.main-menu ul.main li ul li a:before {
  opacity: 0;
  visibility: hidden;
}
.header-userinfo:hover ul,
.header-language:hover ul,
.header-cart:hover ul,
.main-menu ul.main li:hover .mega-menu,
.main-menu ul.main li:hover ul {
  top: 100%;
  display: block;
  z-index: 999999999998 !important;
}
.post-area a.lixury-btn:hover,
.product-desc .add-to-cart a:hover,
.commo-shop .product-action a:hover,
.commo-shop a.lixury-btn:hover,
.product-image .product-action a:hover,
.single-banner a.lixury-btn:hover,
.close-x a:hover,
.shop-cart li div.view:hover,
.shop-cart li div.chack-out:hover {
  color: #fff;
  background: #1dd6c5;
  border-color: #1dd6c5;
}
.single-product h4.name a:hover,
.Column-one a:hover,
.img-dtil h4 a:hover,
.header-wocom div:hover a.icon-heaher,
.header-cart ul li a:hover,
.header-language ul li a:hover {
  color: #1dd6c5;
}
.ind-style .owl-prev,
.ind-style .owl-next {
  position: absolute;
  top: 0;
  font-size: 25px;
  background: #ccc;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
  border-radius: 100%;
  color: #fff;
  bottom: 0;
  margin: auto;
}
.ind-style .owl-prev {
  left: -60px;
}
.ind-style .owl-next {
  right: -60px;
}
.ind-style:hover .owl-prev {
  left: 0px;
}
.ind-style:hover .owl-next {
  right: 0px;
}
.main-menu ul.main {
  text-align: right;
}
.main-menu ul.main li {
  display: inline-block;
  position: relative;
  padding: 0px 2%;
}
.header-cart a.icon-heaher,
.header-language a.icon-heaher,
.header-userinfo a.icon-heaher,
.main-menu ul.main li a.main-a {
  padding: 40px 0;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.stick .logo {
  padding: 10px 22px;
}
.stick .main-menu ul.main li a.main-a {
  padding: 20px 0;
}
.stick .header-cart a.icon-heaher,
.stick .header-language a.icon-heaher,
.stick .header-userinfo a.icon-heaher {
  padding: 20px 10px;
}
.main-menu ul.main li.active a.main-a:after,
.main-menu ul.main li:hover a.main-a:after {
  transform: scaleY(1);
}
.main-menu ul.main li a.main-a span {
  position: relative;
}
.main-menu ul.main li ul,
.header-cart ul,
.header-language ul,
.header-userinfo ul {
  position: absolute;
  background: #fff;
  top: -40%;
  transition: 0.6s ;
}
.main-menu ul.main li ul {
  width: 260px;
  padding: 10px 20px;
  left: 0;
  box-shadow: 0 0 1px rgba(129, 128, 128, 0.25);
  z-index: 99;
}
.main-menu ul.main li ul li {
  display: block;
  text-align: left;
  padding: 0;
  border-bottom: 1px solid #eee;
}
.main-menu ul.main li ul li:last-child {
  border-bottom: 0px solid #ccc;
}
.main-menu ul.main li ul li a {
  display: block;
  color: #747474;
  font-size: 15px;
  position: relative;
  text-transform: capitalize;
  padding: 10px 0;
  transition: 0.6s;
}
.main-menu ul.main li ul li a .fa {
  margin-right: 10px;
}
.main-menu ul.main li ul li a:before {
  transition: all 0.3s ease 0s;
}
.main-menu ul.main li ul li.active2 a,
.main-menu ul.main li ul li a:hover {
  color: #1dd6c5;
  text-decoration: none;
  transition: 0.6s;
}
.Column-one a span.on-sale2 {
  background-color: #1dd6c5;
}
.Column-one a span.on-sale3 {
  background-color: #ff0000;
}
.Column-one.right a {
  display: block;
}
.main-menu ul.main li.static,
.static {
  position: static;
}
.header-area .row {
  position: relative;
}
.header-area .col-md-7 {
  position: static;
}
.mega-menu {
  position: absolute;
  width: 1170px;
  top: -50%;
  text-align: left;
  z-index: 99;
  transition: 0.6s;
  left: 0px;
}
.header-8 .mega-menu {
  left: 0;
  right: 0;
  margin: auto;
}
.mega-menu-def {
  background: #fff;
  margin: 0 20px;
  box-shadow: 1px 0 4px rgba(137, 131, 131, 0.15);
  padding: 20px 0 15px 0;
  float: left;
}
.Column-one a {
  color: #747474;
  padding: 0 0 10px 0;
  position: relative;
  font-size: 15px;
  display: inline-block;
  text-transform: capitalize;
  transition: 0.6s;
}
.Column-one a .fa {
  margin-right: 10px;
}
.Column-one a:hover {
  transition: 0.6s;
}
.footer-widget h4.title-footer,
a.title-dropsown,
.tag h4.title-footer {
  text-transform: uppercase;
  color: #383838;
  padding-right: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}
.Column-one a.title-dropsown:hover:before {
  content: "";
  position: absolute;
}
a.title-dropsown:hover {
  padding-left: 0px;
}
.customblock {
  margin-top: 15px;
}
.header-cart,
.header-language,
.header-userinfo {
  float: right;
  position: relative;
}
.header-cart a.icon-heaher,
.header-language a.icon-heaher,
.header-userinfo a.icon-heaher {
  padding: 40px 10px;
}
.header-cart ul,
.header-language ul,
.header-userinfo ul {
  width: 170px;
  right: 0;
  padding: 15px;
}
.icon-heaher span {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #1dd6c5;
  text-align: center;
  line-height: 20px;
  top: 0;
  border-radius: 100%;
  bottom: 10px;
  margin: auto;
  color: #fff;
}
.header-userinfo ul {
  width: 320px;
  border: 1px solid #EFEFEF;
}
.shop-cart li div.view,
.shop-cart li div.chack-out {
  letter-spacing: 1.5px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  padding: 11px 22px;
  border: 1px solid #e3e3e3;
  text-transform: uppercase;
  transition: all 300ms;
  margin-top: 10px;
  cursor: pointer;
}
.chack-out a,
.view a {
  color: #333;
}
.chack-out a:hover,
.view a:hover {
  color: #fff;
  background: #1dd6c5;
}
.shop-cart li {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}
.shop-cart li:last-child {
  border: none;
}
.img-dtil {
  width: 60%;
  padding-left: 10px;
}
.img-dtil h4 a {
  font-size: 13px;
  color: #747474;
}
.close-x {
  width: 10%;
  float: right;
  margin-top: 25px;
}
.close-x a {
  background: #BFBBBB;
  color: #000;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center !important;
  border-radius: 100%;
}
span.amount {
  color: #757575;
  letter-spacing: 1px;
  font-weight: 300;
}
p.total {
  margin-bottom: 11px;
  font-size: 18px;
  text-transform: uppercase;
  color: #747474;
}
.menu-spacing {
  display: table;
  width: 100%;
  background: #1dd6c5;
  margin: 30px 0;
}
.mean-container .mean-nav ul li a.mean-expand {
  height: 25px;
  background: #00BCD4;
}
.menu2 .mean-container a.meanmenu-reveal span {
  background: #000;
}
.menu2 .mean-container a.meanmenu-reveal {
  color: #000;
}
.header-8 .menu2 .mean-container a.meanmenu-reveal span {
  background: #fff;
}
.header-x-icon-white .mean-container a.meanmenu-reveal,
.header-8 .menu2 .mean-container a.meanmenu-reveal {
  color: #fff;
}
.shop-heade .mean-container a.meanmenu-reveal span {
  background: #000;
}
.mean-container .mean-bar::before {
  color: #fff;
  content: url("http://curricular.xoothemes.com/assets/plugins/images/logo.png");
  font-size: 18px;
  font-weight: 700;
  left: 15px;
  position: absolute;
  height: 25px;
  top: 14px;
}
.header {
  width: 300px;
  float: left;
  background: #fff;
  z-index: 9;
  box-shadow: 0 0 1px rgba(129, 128, 128, 0.25);
}
.header.stick2 {
  position: fixed;
  top: -110px;
}
.header .copyright {
  text-align: center;
}
.header .header-wocom div a i {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}
.header .header-cart,
.header .header-language,
.header .header-userinfo {
  float: left;
  margin: 0 10px;
  position: unset;
}
.header .header-cart a.icon-heaher,
.header .header-language a.icon-heaher,
.header .header-userinfo a.icon-heaher {
  color: #5d5d5d;
}
.header .header-cart ul,
.header .header-language ul,
.header .header-userinfo ul {
  width: 245px;
  padding: 15px;
  left: 0px;
  margin: auto;
  box-shadow: 0 0 5px #ccc;
  z-index: 99;
}
.header .header-cart a.icon-heaher,
.header .header-language a.icon-heaher,
.header .header-userinfo a.icon-heaher {
  padding: 41px 0px;
}
.header .icon-heaher span {
  top: -11px;
  left: 10px;
}
.header .header-wocom div.header-cart a i {
  border-right: 0px solid #fff;
  padding-right: 20px;
}
.header .main-menu ul.main {
  text-align: left;
}
.header .main-menu ul.main li {
  display: block;
}
.header .main-menu ul.main li a.main-a {
  color: #5d5d5d;
}
.header .main-menu ul.main li ul {
  left: 100%;
  box-shadow: 1px 0 4px rgba(137, 131, 131, 0.15);
  -webkit-box-shadow: 1px 0 4px rgba(137, 131, 131, 0.15);
}
.header .main-menu ul.main li:hover ul {
  top: 2px;
}
.header .main-menu ul.main li a.main-a {
  padding: 15px;
  display: block;
}
.header .main-menu ul.main li a.main-a .fa {
  margin-right: 10px;
}
.header .main-menu ul.main li a.main-a:hover,
.header .main-menu ul.main li.active a.main-a {
  background: #1dd6c5;
  color: #fff;
  text-decoration: none;
  text-align: left;
}
.header .main-menu ul.main li {
  padding: 0px 0px;
}
.header .main-menu ul.main li a.main-a::after {
  transform: scaleX(1);
}
.header .mega-menu {
  top: -50%;
  left: 94%;
  width: 995px;
}
.header .main-menu ul.main li:hover .mega-menu {
  top: 0px;
}
.mean-container .mean-nav ul li a .fa {
  margin-right: 10px;
}
.nav-name {
  padding: 15px;
  background-color: #23272d;
  color: #fff;
}
.nav-name span {
  font-size: 26px;
}
.nav-name .fa {
  float: right;
  padding-top: 10px;
  font-size: 20px;
}
.mean-container .mean-bar {
  background: #fff;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 0px 60px -6px rgba(10, 10, 10, 0.2) ;
  -moz-box-shadow: 0px 0px 60px -6px rgba(10, 10, 10, 0.2) ;
  -ms-box-shadow: 0px 0px 60px -6px rgba(10, 10, 10, 0.2) ;
  -o-box-shadow: 0px 0px 60px -6px rgba(10, 10, 10, 0.2) ;
  box-shadow: 0px 0px 60px -6px rgba(10, 10, 10, 0.2) ;
}
.mean-container .mean-nav ul li a.mean-expand {
  background-color: #3cb878;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background-color: #3cb878;
}
.mean-container .mean-nav ul li {
  border-color: #3cb878;
}
@media (min-width: 767px) {
  .header-mobile-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-navigation {
    display: none!important;
  }
}