<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150210123-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150210123-1');
    </script>

    <title>EliteSketch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5343890780837221",
        enable_page_level_ads: true
     });
    </script>

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Custom Icon Font -->
    <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/plugins/css/animate.css">
    <!-- owl -->
    <link rel="stylesheet" href="assets/plugins/css/owl.css">
    <!-- selectize -->
    <link rel="stylesheet" href="assets/plugins/css/selectize.css">
    <link rel="stylesheet" href="assets/plugins/css/selectize.bootstrap3.css">
    <!-- Fancybox-->
    <link rel="stylesheet" href="assets/plugins/css/jquery.fancybox.min.css">
    <!--dropdown -->
    <link rel="stylesheet" href="assets/plugins/css/bootstrap-dropdownhover.min.css">
    <!-- mobile nav-->
    <link rel="stylesheet" href="assets/plugins/css/meanmenu.css">

    <!-- COUSTOM CSS link  -->
    <link rel="stylesheet" href="assets/less/style.css">
    <link rel="stylesheet" href="assets/less/responsive.css">
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="app landing page template" />
    <meta name="keywords" content="app, landing page, bootstrap" />
    <meta name="developer" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FAV AND ICONS   -->
    <link rel="icon" href="assets/favicon.png" sizes="32x32" />

    <!-- GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,700%7CVarela+Round" rel="stylesheet">

  </head>

  <body>
    <% unless action_name == "show" %>
      <%= render 'shared/header' %>
    <% end %>

    <%= render 'shared/alerts' %>
      <%= yield %>
    <%= render 'shared/footer' %>
  </body>

</html>
